.config/lazygit/state.yml
.config/nvim/plugin/packer_compiled.lua
.config/ncmpcpp/error.log
.config/zsh/.zcompdump
.config/nvim/spell/en.utf-8.add
/.config/fcitx/cached_layout
/.config/fcitx/clipboard/
/.config/fcitx/conf/
/.config/fcitx/data/
/.config/fcitx/dbus/
/.config/mpv/watch_later/
/.config/nvim/lazy-lock.json
/.config/pipewire/filter-chain.conf
/.config/pipewire/filter-chain/
/.config/pipewire/media-session.d/
/.config/pipewire/pipewire-avb.conf
/.config/OpenTabletDriver/Logs
/.config/OpenTabletDriver/daemon.log
/.config/emacs/autosave
/.config/emacs/url/cache
/.config/emacs/games
/.config/btop/btop.log
/.config/obs-studio/logs
/.config/obs-studio/profiler_data
/.config/quicklisp/dists
/.config/quicklisp/local-projects
eln-cache
